<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxjw.jwbigdata.mapper.FileInfoMapper">

    <resultMap id="BaseResultMap" type="com.wxjw.jwbigdata.domain.FileInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
            <result property="isEnd" column="is_end" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,file_name,
        table_name,is_end,create_by,
        create_time,status
    </sql>
    <insert id="createTable" parameterType="map">
        create table `${tableName}` (
        <foreach collection="columns" item="listItem" separator=",">
            ${listItem} varchar(255)
        </foreach>
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    </insert>

    <select id="existTable" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_SCHEMA = DATABASE() AND TABLE_NAME = #{tableName}
    </select>

    <select id = "selectColumns" parameterType="map" resultType="String">
        select ${columns}
        from ${tableName}
    </select>

</mapper>
