<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxjw.jwbigdata.mapper.NewTableMapper">

    <resultMap id="BaseResultMap" type="com.wxjw.jwbigdata.domain.NewTable">
            <id property="id" column="Id" jdbcType="INTEGER"/>
<!--            <result property="oldtableId" column="oldtable_id" jdbcType="INTEGER"/>-->
            <result property="dbname" column="dbName" jdbcType="VARCHAR"/>
            <result property="tablename" column="tablename" jdbcType="VARCHAR"/>
            <result property="comment" column="Comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,dbName,
        tablename,Comment
    </sql>

<!--    <select id="tableSelect" parameterType="String" resultType="java.util.ArrayList">-->
<!--        select * from ${tableName} where ${fieldName} = #{value}-->
<!--    </select>-->

<!--    <select id="tableNewSelect" parameterType="String" resultType="java.util.ArrayList">-->
<!--            select * from ${tableName} where ${fieldName} = #{value}-->
<!--    </select>-->

<!--    <select id="tableNewSelect1" parameterType="String" resultType="java.util.ArrayList">-->
<!--        select * from pbasicinfo-->
<!--    </select>-->

<!--    <select id="tableNewMultiSelect" parameterType="String" resultType="java.util.ArrayList">-->
<!--            select * from ${tableName} where ${fieldName1} = #{value} or ${fieldName2} = ${value}-->
<!--    </select>-->
</mapper>
