<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxjw.jwbigdata.mapper.OperlogMapper">

    <resultMap id="BaseResultMap" type="com.wxjw.jwbigdata.domain.Operlog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="operType" column="oper_type" jdbcType="VARCHAR"/>
            <result property="operData" column="oper_data" jdbcType="VARCHAR"/>
            <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,oper_type,
        oper_data,oper_time
    </sql>
</mapper>
