<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxjw.jwbigdata.mapper.UploadcolumnMapper">

    <resultMap id="BaseResultMap" type="com.wxjw.jwbigdata.domain.Uploadcolumn">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="uploadtableId" column="uploadtable_id" jdbcType="INTEGER"/>
            <result property="columnname" column="columnname" jdbcType="VARCHAR"/>
            <result property="datatype" column="datatype" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="descript" column="descript" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,uploadtable_id,columnname,
        datatype,comment,descript
    </sql>
</mapper>
