<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxjw.jwbigdata.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.wxjw.jwbigdata.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="portrait" column="portrait" jdbcType="TINYINT"/>
            <result property="compare" column="compare" jdbcType="TINYINT"/>
            <result property="model" column="model" jdbcType="TINYINT"/>
            <result property="search" column="search" jdbcType="TINYINT"/>
            <result property="createdUser" column="created_user" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_account,password,
        username,department_id,position,
        role,portrait,compare,search,
        model,created_user,created_time,
        is_delete
    </sql>
</mapper>
